*{
	margin: 0;
	padding: 0;
}
.navbar{
	background: #3c8cf0;
	width: 100%;
	height: 60px;
}
.navbar img{
	width: 10%;
	padding-top: 10px;
	padding-left: 37px;
}
.menu{
	margin-left: 231px;
	margin-top: -37px;
}
.menu a{
	color: white;
	font-size: 22px;
	font-family: cursive;
	text-decoration: none;
	margin: 13px;
}
.footbar{
	background: beige;
	width: 100%;
	height: 500px;
}
.footbar a{
	text-decoration: none;
}
/*.footercontent{
	margin: 20px;
}*/
/*.footercontent h1{
	margin-left: 20px;
	padding-right: 80%;
}*/
/*.footercontent a{
	margin-left: 20px;
	padding-right: 80%;*/
/*}
.ab{
	margin-left: 191px;
	margin-top: -181px;
}*/
.f1{
	margin-left: 26px;

}
.f2{
	margin-left: 303px;
	margin-top: -227px;
}
.f3{
	margin-left: 582px;
	margin-top: -216px;
}
.f4{
	margin-left: 865px;
	margin-top: -196px;
}
