*{
	margin: 0px;
	padding: 0px;

}
.header{
	background: #3c8cf0;
	height: 60px;
	width: 100%;
	padding: 0px 20px 0px 0px;
	position: relative;
}
.app-logo{

}
.mxlogodiv{
	margin-right: 1102px;
}
.HOME{
	background:#3c8cf0 ;
	color: white;
	height: 45px;
	width: 100%;
	line-height: 35px;
	font-size: 20px;
	word-spacing: 2px;
	position: relative;
}
.imgs{
			background: url(../Image/ekthi.jpeg);
		    background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			width: 100%;
			height: 400px;
		}
		.h1{
			font-size: 30px;
			margin: 2px;
			padding-left: 20px;
			position: relative;
		}
.h1a{
			/*border: 2px solid;*/
			width: 358px;
			height: 516px;
			float:left;
			margin: 14px;
			direction: initial;
		}
		.f1{
			margin: 50px;
			padding: 20px;
		}
		* {
    box-sizing: border-box;
    letter-spacing: .3px;
}
.section {
    padding-top: 28px;
}
.section .section-content-container {
    margin: auto;
    max-width: 1440px;
    padding: 0 20px;
}
.section .section-header {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 14px;
    position: relative;
    padding: 0 10px;
    letter-spacing: .25px;
}
.section .section-header-title {
    letter-spacing: .25px;
    line-height: 28px;
}


